<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1>Formulario para insertar un gatito en la BD</h1>
    <form action="http://localhost:8080/insertaGatito" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="miku">
        <br/>
        <label for="peso">Peso:</label>
        <input type="text" name="peso">
        <br/>
        <input type="submit" value="Insertar gatito">
    </form>
</body>
</html>